<!DOCTYPE html>
<html>
  <head>
    <title>Alphablog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css", integrity: "sha384-KyZXEAg3QhqLMpG8r+Knujsl5/4MR1dg4cbDxGI6zRlEjtDz2m3/1P1jwpBfZ8ES", crossorigin: "anonymous" %>

  </head>

  <body>

 <% flash.each do |name, msg| %> 
      <%= msg %> 
    <% end %>


    <%= yield %>


  </body>
</html>
